<div id="info" class="row-fluid">
	<h4>Information about demographics</h4>
</div>
<div class="row-fluid">
	<div class="span6">
		<h4>MLS AGING</h4>
		<div id="mls-demographics-allura-aging" data-period='0.25'
			class="demographic-bars"
			data-file="data/json/mls-demographics-aging.json"></div>
	</div>
	<div class="span6">
		<h4>MLS BIRTH</h4>
		<div id="mls-demographics-allura-birth" data-period='0.25'
			class="demographic-bars"
			data-file="data/json/mls-demographics-birth.json"></div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<h4>ITS AGING</h4>
		<div id="its-demographics-allura-aging" data-period='0.25'
			class="demographic-bars"
			data-file="data/json/its-demographics-aging.json"></div>
	</div>
	<div class="span6">
		<h4>ITS BIRTH</h4>
		<div id="its-demographics-allura-birth" data-period='0.25'
			class="demographic-bars"
			data-file="data/json/its-demographics-birth.json"></div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<h4>SCM AGING</h4>
		<div id="scm-demographics-allura-aging" data-period='0.25'
			class="demographic-bars"
			data-file="data/json/scm-demographics-aging.json"></div>
	</div>
	<div class="span6">
		<h4>SCM BIRTH</h4>
		<div id="scm-demographics-allura-birth" data-period='0.25'
			class="demographic-bars"
			data-file="data/json/scm-demographics-birth.json"></div>
	</div>
</div>