<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span12">
				<div id="its-flotr2"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h4>General activity</h4>
				<div id="its-envision" data-legend-show="false"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h4>Time to Fix</h4>
				<div>X% of tickets open during the corresponding month were
					closed in less than n days</div>
				<div class="its-time-to-fix" data-quantil='X0.99,X0.95,X0.5,X0.25'></div>
			</div>
		</div>
	</div>
	<div class="span3">
		<div id="its-top" data-metric="closers" data-show_all="true"></div>
	</div>
</div>
