 <div class="row-fluid">
   <div class="span2">
     <div class="well sidebar-nav">
       <div id="refcard"></div>
     </div><!--/.well -->
   </div><!--/span-->
   <div class="span10">
     <div class="row-fluid">
         <div class="hero-unit" style="height:400px;">
           <h4>General activity</h4>
           <div id="all-envision" data-legend-show="false"></div>
         </div>
         <div class="row-fluid">
           <div class="span3">
               <div id="scm-top"></div>
           </div><!--/span-->
           <div class="span3">
               <div id="its-top"></div>
           </div><!--/span-->
           <div class="span3">
               <div id="mls-top"></div>
           </div><!--/span-->
         </div><!--/row-->
         <div class="row-fluid">
           <div class="span3">
               <div id="scm-commits-flotr2"></div>
               <div id="scm-authors-flotr2"></div>            
           </div><!--/span-->
           <div class="span3">
               <div id="its-closed-flotr2"></div>
               <div id="its-closers-flotr2"></div>            
           </div><!--/span-->
           <div class="span3">
               <div id="mls-sent-flotr2"></div>
               <div id="mls-senders-flotr2"></div>
           </div><!--/span-->
         </div><!--/row-->
    </div><!--/row -->     
   </div><!--/span-->
 </div><!--/row-->